.footer {
  background-color: #080914;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 1rem;
}

.footer-section {
  flex: 1 1 300px;
  text-align: start;
}

.footer-section h2, 
.footer-section h3, 
.footer-section p {
  text-align: start;
}
.footerr-section h2, 
.footerr-section h3, 
.footerr-section p {
  text-align: start;
}

.footer-bottom p {
  text-align: center;
}

.footer-logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  text-align: start;
}

.social-icon {
  background-color: #444;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon:hover {
  background-color: #f60;
  transform: scale(1.1);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.newsletter-input {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: none;
  border-radius: 5px;
}

.newsletter-button {
  padding: 10px 20px;
  border: none;
  background-color: #f60;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-button:hover {
  background-color: #e55d00;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .newsletter-input {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    font-size: 20px;
  }

  .social-icons {
    gap: 10px;
  }

  .newsletter-input {
    font-size: 14px;
  }
}

/* Popups */
.popups {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popups-card {
  background: rgb(88, 212, 57);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
}

.success-icon {
  width: 60px;
  height: 60px;
  background: #fdffff;
  color: rgb(7, 7, 7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0 auto 1rem;
}

.popups-card p {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
