.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, rgba(24, 24, 27, 0.7), rgba(36, 36, 42, 0.5));
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  flex-wrap: wrap;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 10px;
  flex-shrink: 0;
}

.navbar-left img {
  width: 100px;
  height: 50px;
  object-fit: contain;
  margin: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, rgba(17, 17, 19, 0.959), rgba(22, 22, 26, 0.979));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
  transition: left 0.3s ease;
  z-index: 999;
}

.nav-menu.open {
  left: 0;
}

.nav-menu ul {
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin: 15px 0;
  font-size: 20px;
  color: white;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.nav-menu li a:hover {
  color: #ddc332;
}

.nav-connect-container .nav-connect {
  background: linear-gradient(267deg, #5acf6e 0.36%, #c3cf18);
  color: white;
  padding: 0.5rem 5rem;
  border: none;
  margin-left: 1.7rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .nav-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-menu ul {
    width: 100%;
  }

  .nav-menu li {
    text-align: left;
  }

  .nav-connect {
    display: none;
    text-decoration: none;
  }
}

@media (min-width: 1025px) {
  .nav-menu {
    position: static;
    left: 0;
    flex-direction: row;
    background: transparent;
    backdrop-filter: none;
    width: auto;
    height: auto;
    padding: 0;
  }

  .nav-menu ul {
    display: flex;
  }

  .nav-menu li {
    margin: 0 15px;
    font-size: 20px;
  }

  .nav-connect {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .navbar-left {
    padding-left: 10px;
  }

  .navbar-left img {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .nav-menu li {
    font-size: 20px;
    margin-left: 1.6rem;
  }

  .nav-menu ul {
    padding: 0;
    margin: 0;
    margin-top: 3.5rem;
  }

  .nav-connect {
    padding: 8px 16px;
    font-size: 14px;
  }

  .custom-logout-btn {
    background: linear-gradient(267deg, #5acf6e 0.36%, #c3cf18);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    margin-left: -3rem;
    font-weight: 600;
    margin-top: 5rem;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
  }
}

@media (max-width: 480px) {
  .navbar-left {
    padding-left: 10px;
  }

  .navbar-left img {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: -1.7rem;
  }

  .nav-menu li {
    font-size: 20px;
    margin-left: 1.6rem;
  }

  .nav-menu ul {
    padding: 0;
    margin: 0;
    margin-top: 3.5rem;
  }

  .nav-connect {
    padding: 8px 16px;
    font-size: 14px;
  }

  .custom-logout-btn {
    background: linear-gradient(267deg, #5acf6e 0.36%, #c3cf18);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    margin-left: -3rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
  }
}

.custom-logout-btn {
  background: linear-gradient(267deg, #5acf6e 0.36%, #c3cf18);
  color: white;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 2rem;
  margin-left: 1.9rem;
  margin-right: -7rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease;
}

.custom-logout-btn:hover {
  background-color: #5acf6e;
}

.custom-logout-btn:active {
  transform: scale(0.95);
}

.custom-logout-btn a {
  color: inherit;
  text-decoration: none;
}